<h1><%= @store.name %></h1>

<form action="/store/<%= @store.id %>/add_brand" method="post">
  <select class="custom-select" name="brand_id">
    <% if (@brands).any? %>
      <% @brands.each do |brand| %>
        <option value="<%= brand.id %>">
          <%= brand.name %>
        </option>
      <% end %>
    <% end %>
  </select>
  <button type="submit" class="btn btn-outline-success">Add Brand to Store</button>
</form>
