<h1>Shoe Store</h1>

<form action="/store/new" method="post">
  <div class="form-group">
    <label for="name">Store name</label>
    <input class="form-control" type="text" name="name"/>
  </div>
  <button class="btn btn-primary btn-block" type="submit">Add Store</button>
</form>

<h1>All Stores</h1>
  <ul>
    <% @stores.each do |store| %>
      <li><%= store.name %></li>
    <% end %>
  </ul>
